<div class="list">
  <label class="item item-input">
    <span class="input-label">Nome</span>
    <input type="text" ng-model="user.name" required="" ng-disable='isDisable'>
  </label>

  <label class="item item-input">
    <span class="input-label">E-mail</span>
    <input type="email" ng-model="user.email" required="" ng-disable='isDisable'>
  </label>

  <label class="item item-input">
    <span class="input-label">Cidade</span>
    <input type="text" ng-model="user.cidade" required="" ng-disable='isDisable'>
  </label>

  <label class="item item-input">
    <span class="input-label">Rua</span>
    <input type="text" ng-model="user.endereco.rua" required="" ng-disable='isDisable'>
  </label>

  <label class="item item-input">
    <span class="input-label">Número</span>
    <input type="text" ng-model="user.endereco.numero" required="" ng-disable='isDisable'>
  </label>

  <label class="item item-input">
    <span class="input-label">Cep.</span>
    <input type="text" ng-model="user.endereco.cep" required="" ng-disable='isDisable'>
  </label>
</div>
