<div class="list">
  <label class="item item-input">
    <span class="input-label">nome</span>
    <input type="text" ng-model="user.name" required="">
  </label>

  <label class="item item-input">
    <span class="input-label">email</span>
    <input type="email" ng-model="user.email" required="">
  </label>

  <label class="item item-input">
    <span class="input-label">Cidade</span>
    <input type="text" ng-model="user.cidade" required="">
  </label>

  <label class="item item-input">
    <span class="input-label">Rua</span>
    <input type="text" ng-model="user.endereco.rua" required="">
  </label>

  <label class="item item-input">
    <span class="input-label">numero</span>
    <input type="text" ng-model="user.endereco.numero" required="">
  </label>

  <label class="item item-input">
    <span class="input-label">cep</span>
    <input type="text" ng-model="user.endereco.cep" required="">
  </label>
</div>
