<ion-view view-title="Lista de Usuários" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="app.newUser">
            <i class="ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content ng-init="loadUsers">
        <ion-list>
            <ion-item ng-repeat="user in users">
                {{user.name}}
                <a class="ion-eye" style="float: right; font-size:26px; color:#C0C0C0; padding-right:7px" ui-sref="app.showUser({iten:user})"></a>
                <a class="ion-edit" style="float: right; font-size:26px; color:green; padding-right:7px" ui-sref="app.editUser({iten:user})"></a>
                <i class="ion-trash-b" style="float: right; font-size:26px; color:red; padding-right:7px" ng-click='deleteUser(user.id)'></i>
                <a class="ion-email" style="float: right; font-size:26px; padding-right:7px"
                   href="mailto:{{user.email}}?Subject=Controle%20de%20Vendas" target="_top"></a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
